name: Terraform Apply

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag"
        required: false

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-west-2
  TF_VAR_enable_github_oidc: "true"
  TF_VAR_github_repo: "tomakady/ecs-project"
  TF_VAR_image_tag: ${{ github.event.inputs.image_tag || github.sha }}

jobs:
  apply:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}
      - uses: hashicorp/setup-terraform@v3
      - run: terraform init
      - run: terraform plan -out=tfplan
      - run: terraform apply -auto-approve tfplan
